$main-bg-color: #b18dff;
$body-bg-color: #ececec;
$lines: #4794ff;
$margin-line: #960000;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-bg-color;
}

.body {
  margin: 1em;
  background-color: $body-bg-color;
  width: 400px;
  height: 450px;

  background-image: linear-gradient($lines 0.05em, transparent 0.05em);
  background-size: 100% 2em;
  position: relative;
  box-shadow: 15px 15px 33px #1b1b1b1a;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
  }

  &:before {
    height: 100%;
    width: 2px;
    background-color: $margin-line;
    left: 2em;
    z-index: 2;
  }
}

.text_input {
  position: relative;
  top: 1em;
  left: 3em;
}

li {
  list-style-type: none;
  margin: 0.7em;
}
