$main-bg-color: #ffe7d6;
$app-bg-color: #f5f4f4;
$lines: #4794ff;
$margin-line: #ff0000;
$color--shadow: #1f1f1f;

body {
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-bg-color;
}

.App {
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: $app-bg-color;
  width: 25rem;
  height: 30rem;

  background-image: linear-gradient($lines 0.05em, transparent 0.05em);
  background-size: 100% 2em;
  position: relative;
  box-shadow: 1rem 1rem 2rem $color--shadow;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
  }

  &:before {
    height: 100%;
    width: 2px;
    background-color: $margin-line;
    left: 2rem;
    z-index: 2;
  }
}

.container {
  margin: 2rem;
}

.text_input {
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  input {
    width: 80%;
    height: 1.5rem;
  }

  button {
    width: 3.5rem;
    border-color: $lines;
    color: $lines;
    border-radius: 2px;
    box-shadow: none;
  }
}

ul {
  margin: 2rem 0;
}

li {
  width: 100%;
  height: 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  div {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    border: transparent;
    color: $margin-line;
    font-size: x-large;
    font-weight: bold;
  }
}

button {
  background: transparent;
}
